.examForm {
  max-width: 700px;
  margin: auto;
  background-color: #f7fdf9;
  border: 1px solid #d0eadd;
  border-radius: 10px;
  padding: 30px;
}

.questionBlock {
  margin-bottom: 25px;
  padding: 15px;
  border-bottom: 1px solid #cce;
}

.option {
  display: block;
  margin-top: 5px;
}

.submitBtn {
  background-color: #0caa41;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
